In [ ]:
n = 4
for i in (range(4)):
    for j in range(0,i+1):
        print("ineuron",end="  ")
    print("\n")

In [3]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh",'k2':"ineuron",'k3':"kumar",3:6,7:8},
    ["ineuron","data science"]]

In [4]:
#q3:Try to extract all the list entity
for i in l:
    if type(i) == list:
            print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [5]:
#q4:Try to extract all dict entities
for i in l :
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
#q5:Try to extract all tuples entities
for i in l :
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [7]:
#q6.Try to give summation of all numeric data 
sum = 0
for i in l:
    if type(i) == int:
        sum = sum+i
        print(sum)
    elif type(i) == list:
        for j in i:
            if type(j)== int:
                sum = sum+j
                print(sum)
    elif type(i) == tuple:
        for j in i:
            if type(j)== int:
                sum = sum+j
                print(sum)
    elif type(i)== set:
        for j in i:
            if type(j)== int:
                sum = sum+j
                print(sum)
    elif type(i) == dict:
        for j in i.keys():
            if type(j)== int:
                sum = sum+j
                print(sum)
        for k in i.values():
            if type(k)== int:
                sum = sum+k
                print(sum)

1
3
6
10
12
15
19
24
30
33
37
42
48
55
100
104
109
132
135
142
148
156

In [8]:
#q8.Try to filter out all odd values 
for i in l:
    if type(i) == int and (i%2)==1:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j)== int and (j%2)==1:
                print(j)
    elif type(i) == tuple:
        for j in i:
            if type(j)== int and (j%2)==1:
                print(j)
    elif type(i)== set:
        for j in i:
            if type(j)== int and (j%2)==1:
                print(j)
    elif type(i) == dict:
        for j in i.keys():
            if type(j)== int and (j%2)==1:
                print(j)
        for k in i.values():
            if type(k)== int and (k%2)==1:
                print(k)

1
3
3
5
3
5
7
45
5
23
3
7

In [12]:
#try to extract ineuron out of this data
l[5:6]

[['ineuron', 'data science']]

In [16]:
#q.10 Try to find out all number of occurance of all data
listAll = []
for i in l:
    if type(i) == (str or int) :
        listAll.append(i)
        print(i)
    elif type(i) == list:
        for j in i:
            listAll.append(j)
    elif type(i) == tuple:
        for j in i:
            listAll.append(j)
    elif type(i)== set:
        for j in i:
            listAll.append(j)
    elif type(i) == dict:
        for j in i.keys():
            listAll.append(j)
        for k in i.values():
            listAll.append(k)

In [18]:
print(listAll)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science']

In [19]:
testSet =set(listAll)
testSet

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [20]:
for i in testSet:
    print(i,listAll.count(i))

1 1
2 2
3 4
4 4
5 3
6 3
7 2
ineuron 2
k3 1
8 1
45 1
k2 1
kumar 1
23 1
k1 1
data science 1
sudh 1